<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href="http://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css'%}">
    <script src="{% static 'dist/echarts.js'%}"></script>
    <script src="{% static 'map/js/china.js'%}"></script>

    <style>
        *{margin:0;padding:0}
        html,body{
            width:100%;
            height:100%;
        }
        #main{
              width:800px;
              height:600px;
              margin: 150px auto;
              border:1px solid #ddd;
          }
        /*默认长宽比0.75*/
    </style>
</head>
<body background="{%static 'images/3.JPG'%}">
<!-- Top Menu 1 -->
<section class="w3l-top-menu-1">
    <div class="top-hd">
        <div class="container">
            <header class="row">
                <div class="social-top col-sm-6 col-6 pl-0">
                    <li>欢迎使用</li>

                </div>
                <div class="accounts col-sm-6 col-6 pr-0">
                    <li class="top_li1"><a href="#">登录</a></li>
                    <li class="top_li2"><a href="#">注册</a></li>
                </div>

            </header>
        </div>
    </div>
</section>
<!-- //Top Menu 1 -->
<section class="w3l-bootstrap-header">
    <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
        <div class="container">
            <a class="navbar-brand" href="index.html"><span>祥龙-</span>咨询</a>
            <!-- if logo is image enable this
          <a class="navbar-brand" href="#index.html">
              <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
          </a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">各省份分数表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">知识图谱</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">小测试</a>
                    </li>
                </ul>
                <p>咨询电话<span class="fa fa-headphones pl-1"></span><br><a href="tel:900-369-8527">900-369-8527</a></p>
            </div>
        </div>
    </nav>
</section>
<br>
<div class="heading text-center mx-auto">
    <h1 class="head">全国省份分布</h1>
    <br/><br/>
    <h2><font color="#778899">选择你感兴趣的省份吧！</font></h2>
</div>

    <div id="main">
    </div>
    <script type="text/javascript">
        var dataList=[
            // {name:"南海诸岛",value:0},
            {name: '北京', value: 100},
            {name: '天津', value: 100},
            {name: '上海', value: 100},
            {name: '重庆', value: 100},
            {name: '河北', value: 600},
            {name: '河南', value: 900},
            {name: '云南', value: 200},
            {name: '辽宁', value: 200},
            {name: '黑龙江', value: 400},
            {name: '湖南', value: 400},
            {name: '安徽', value: 400},
            {name: '山东', value: 400},
            {name: '新疆', value: 600},
            {name: '江苏', value: 600},
            {name: '浙江', value: 800},
            {name: '江西', value: 600},
            {name: '湖北', value: 700},
            {name: '广西', value: 700},
            {name: '甘肃', value: 300},
            {name: '山西', value: 300},
            {name: '内蒙古', value: 1200},
            {name: '陕西', value: 800},
            {name: '吉林', value: 900},
            {name: '福建', value: 800},
            {name: '贵州', value: 900},
            {name: '广东', value: 100},
            {name: '青海', value: 500},
            {name: '西藏', value: 1000},
            {name: '四川', value: 900},
            {name: '宁夏', value: 500},
            {name: '海南', value: 400},
            {name: '台湾', value: 1300},
            {name: '香港', value: 700},
            {name: '澳门', value: 900}
        ]
        var myChart = echarts.init(document.getElementById('main'));
        // function randomValue() {
        //     return Math.round(Math.random()*1000);
        // }

        option = {
            backgroundColor: 'rgba(242,242,242,0.85)',
            tooltip: {
                    formatter:function(params,ticket, callback){
                        return ;
                    }//数据格式化
                },
            visualMap: {
                min: 0,
                max: 1500,
                left: 'left',
                top: 'bottom',
                text: ['高','低'],//取值范围的文字
                inRange: {
                    color: ['#e0ffff', '#006edd']//取值范围的颜色
                },
                show:false//图注
            },
            geo: {
                map: 'china',
                roam: false,//不开启缩放和平移
                zoom:1.23,//视角缩放比例
                label: {
                    normal: {
                        show: true,
                        fontSize:'10',
                        color: 'rgba(0,0,0,0.7)'
                    }
                },
                itemStyle: {
                    normal:{
                        borderColor: 'rgba(0, 0, 0, 0.2)'
                    },
                    emphasis:{
                        areaColor: '#F3B329',//鼠标选择区域颜色
                        shadowOffsetX: 0,
                        shadowOffsetY: 0,
                        shadowBlur: 20,
                        borderWidth: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            },
            series : [
                {
                    name: '查看详情',
                    type: 'map',
                    geoIndex: 0,
                    data:dataList
                }
            ]
        };
        myChart.setOption(option);
        myChart.on('click', function (params) {
            window.open("http://127.0.0.1:8000/kgB/kg_province/?csrfmiddlewaretoken=CQ5HrGjyVvSwrUZeiYS4MqB1epb2crZEK1R3m0gddRZ8PDIc0CA405tjFZttOOaB&select_province="+params.name);
        });

      /*  setTimeout(function () {
            myChart.setOption({
                series : [
                    {
                        name: '信息量',
                        type: 'map',
                        geoIndex: 0,
                        data:dataList
                    }
                ]
            });
        },1000)*/
    </script>
<!-- grids block 5 -->
<section class="w3l-footer-29-main">
    <div class="footer-29">
        <div class="container">
            <div class="d-grid grid-col-4 footer-top-29">
                <div class="footer-list-29 footer-1">
                    <h6 class="footer-title-29">Contact Us</h6>
                    <ul>
                        <li><p><span class="fa fa-map-marker"></span> Estate Business, #32841 block, #221DRS Real estate business building, UK.</p></li>
                        <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(21)-255-999-8888</a></li>
                        <li><a href="mailto:corporate-mail@support.com" class="mail"><span class="fa fa-envelope-open-o"></span> corporate-mail@support.com</a></li>
                    </ul>
                    <div class="main-social-footer-29">
                        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
                <div class="footer-list-29 footer-2">
                    <ul>
                        <h6 class="footer-title-29">Featured Links</h6>
                        <li><a href="contact.html">Our People</a></li>
                        <li><a href="contact.html">Latest Media</a></li>
                        <li><a href="contact.html">Our Branches</a></li>
                        <li><a href="contact.html">Organisations</a></li>
                        <li><a href="contact.html">Help</a></li>
                    </ul>
                </div>
                <div class="footer-list-29 footer-3">

                    <h6 class="footer-title-29">Newsletter </h6>
                    <p class="mb-3">Get in your inbox the latest News and</p>
                    <form action="#" class="subscribe" method="post">
                        <input type="email" name="email" placeholder="Email" required="">
                        <button><span class="fa fa-envelope-o"></span></button>
                    </form>
                    <p>Subscribe and get our weekly newsletter</p>
                    <p>We'll never share your email address</p>

                </div>
                <div class="footer-list-29 footer-4">
                    <ul>
                        <h6 class="footer-title-29">Quick Links</h6>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="#"> Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-grid grid-col-2 bottom-copies">
                <p class="copy-footer-29">Copyright &copy; 2020.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                <ul class="list-btm-29">
                    <li><a href="#link">Privacy policy</a></li>
                    <li><a href="#link">Terms of service</a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
</section>

{% load static %}
<script src={%static "assets/js/jquery-3.3.1.min.js" %}></script>
<!-- //footer-28 block -->
</section>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% load static %}
<script src={% static "assets/js/jquery-3.4.1.slim.min.js" %}
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src={% static "js/popper.min.js" %}
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src={% static "js/bootstrap.min.js" %}
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

<!-- Template JavaScript -->
<script src={% static "assets/js/all.js" %}></script>
<!-- Smooth scrolling -->
<!-- <script src="assets/js/smoothscroll.js"></script> -->
<script src={% static "assets/js/owl.carousel.js" %}></script>

<!-- script for -->
<script>
    $(document).ready(function () {
        $('.owl-one').owlCarousel({
            loop: true,
            margin: 0,
            nav: true,
            responsiveClass: true,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: true
                },
                1000: {
                    items: 1,
                    nav: true
                }
            }
        })
    })
</script>
<!-- //script -->
</body>
</html>