<!DOCTYPE html>
<html>
<head>
  <title>志愿信息填写</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<label >必填:</label>
      <br>
  <form action="questions/" method="POST">
 
 <label>省份<select name="province">
        {%for province in provincelist%}
        <option  value="{{province}}">{{province}}</option>
        {%endfor%}
    </select> </label>


  <label>文理科<select name="subject">
        
        <option id="文科" value="文科">文科</option>
        <option id="理科" value="理科">理科</option>
    </select> </label>



  <form>
  <div class="form-group">

    <input  class="form-control" name="score" aria-describedby="emailHelp" placeholder="高考分数"
    >

  </div>
      <label >选填:</label>
      <br>
<label>倾向省份<select name="Tprovince">
        {%for province in provincelist%}
        <option  value="{{province}}">{{province}}</option>
        {%endfor%}
        
    </select> </label>

  <label>倾向专业<select name="Tmajor">
        {%for major in majorlist%}
        <option  value="{{major}}">{{major}}</option>
        {%endfor%}
        
    </select> </label>
    <input type="submit" value="Submit" />
  </form>
</div>
</body>
</html>