<html>
<body>
                    <h3 class="cont-head">大学专业录取信息</h3>
                    <div class="form-inner-cont">

                        <form method="post" class="main-input">
                        {% csrf_token %}
                        <div class="top-inputs d-flex" style="text-align: left">
                                <input type="text" placeholder="大学" name="college" required="" style="width: 200px">
                                <input type="text" placeholder="专业" name="majorName" required="" style="width: 200px">
                                <input type="text" placeholder="分科" name="category" required="" style="width: 200px">
                                <input type="text" placeholder="省份" name="province" required="" style="width: 200px">
                            </div>
                            <div class="text-left">
                                <br>
                                <button type="submit" value="OK">OK</button>
		 <p class="pos-abs" >（图中0数据代表数据库中不存在）</p>
                                </br>
                                <div class="data_distribution">
                                     <div class="show_img">
                                           <img src='{{src1}}'  width="400" height="300">
		           <h3>{{text1}}</h3>
                                            <img src='{{src2}}' width="400" height="300" >
		            <h3>{{text2}}</h3>
                                     </div>
                                </div>
                            </div>
                            </form>
                            
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>