<html>
<body>
                    <h3 class="cont-head" style="text-align:center">邻近省份的双一流高校查询</h3>
                    <div class="form-inner-cont">

                        <form method="post" class="main-input">
                        {% csrf_token %}
                        <div class="top-inputs d-flex" style="text-align: center">
                                <input type="text" placeholder="考生省份" name="province" required="" style="width: 200px">
                            </div>
                            <div class="text-center">
                                <br>
		<div style="text-align:center">
			<button type="submit" value="OK" style="text-align:center">OK</button>
		</div>
                                </br>
                                <div class="data_distribution">
                                	{% for province,list in topDict.items %}
				<h4 style="text-align:center">{{province}}:</h4> 
				{% for collegeName in list %}
					<p class="pos-abs" style="text-align:center">{{collegeName}}</p>
				{% endfor %}
			{% endfor %}
                                </div>
                            </div>
                            </form>
                            
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>